@model BudgetDestroyer.Models.Budget

@{

}

<div class="col col-login mx-auto">
    @using (Html.BeginForm("Edit", "Budgets", FormMethod.Post, new { @class = "card" }))
    {
        @Html.AntiForgeryToken()

    <div class="card-body p-6">
        <div class="card-title">
            <h4>Edit Budget</h4>
            <hr />
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.HouseholdId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Descriptions, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Descriptions, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
        </div>*@

        <div class="form-footer">
            <input type="submit" value="Save" class="btn btn-primary btn-block" />
        </div>
    </div>
    }
</div>