@model IEnumerable<BudgetDestroyer.Models.Budget>

@{
    
}

<div class="col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Budgets of the House</h3>
            <button type="button" class="btn btn-outline-primary btn-sm btnSpace" data-toggle="modal" data-target="#addBudget">
                <i class="fa fa-plus-circle m-right-xs"></i> Add Budget
            </button>
        </div>
        <div class="table-responsive col-md-11 align-self-md-center">
            <table class="table card-table table-vcenter text-nowrap" id="accountTable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Descriptions)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Descriptions)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            <button href="@Url.Action("Edit", "Budgets", new { id = item.Id })" class="btn-outline-primary fa fa-edit"></button>
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete", "Budgets", new { id = item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn-outline-danger fa fa-trash"></button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>