@model BudgetDestroyer.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<div class="text-center mb-6">
    Budget <img src="~/Images/icon-cut-cost.png" class="h-6" alt=""> Destroyer
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "card", action = "", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="card-body p-6">
    <div class="card-title">Reset Password</div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "exampleInputEmail1", placeholder = "Enter email" })
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block">Email Link</button>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
