@using BudgetDestroyer.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Log in";
}


<div class="text-center mb-6">
        Budget <img src="~/Images/icon-cut-cost.png" class="h-6" alt=""> Destroyer
</div>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "card", action = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="card-body p-6">
        <div class="card-title">Login to your account</div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "form-label" })

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "exampleInputEmail1", placeholder = "Enter email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="form-label">
                Password
                @*@Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "float-right small" })*@
            </label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "exampleInputPassword1", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        @*<label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" />
            <span class="custom-control-label">Remember me</span>
        </label>*@

        <div class="form-group">
            <label class="custom-control custom-checkbox">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                @* &emsp; is a spacing hack for theme not playing nice with razor *@
                <span class="custom-control-label">&emsp; Remember me</span>
            </label>
            @*@Html.LabelFor(m => m.RememberMe)*@
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </div>
}

<div class="text-center text-muted">
    @Html.ActionLink("Forgot Password", "ForgotPassword")
</div>
<div class="text-center text-muted">
    @Html.ActionLink("Register as a new user", "Register")
</div>




@*<section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@