@using BudgetDestroyer.Helpers
@using Microsoft.AspNet.Identity
@model IEnumerable<BudgetDestroyer.Models.BudgetItem>

@{

}

<div class="col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Budget Categories</h3>

            @if (HouseholdHelper.IsAnyBudgets(User.Identity.GetUserId()))
            {
                <button type="button" class="btn btn-outline-primary btn-sm btnSpace" data-toggle="modal" data-target="#addBudgetItem">
                    <i class="fa fa-plus-circle m-right-xs"></i> Add Category
                </button>
            }
        </div>
        <div class="table-responsive col-md-11 align-self-md-center">
            <table class="table card-table table-vcenter text-nowrap" id="accountTable">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                    <th></th>
                    @*<th></th>*@
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@
                        <td>
                            <a href="@Url.Action("Edit", "BudgetItems", new { id = item.Id })" class=" btn btn-outline-primary fa fa-edit" />
                        </td>
                        @*<td>
                            @using (Html.BeginForm("Delete", "BudgetItems", new { id = item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn-outline-danger fa fa-trash"></button>
                            }
                        </td>*@
                    </tr>
                }
            </table>
        </div>
    </div>
</div>