@model BudgetDestroyer.Models.Household

@{
    ViewBag.Title = "CreateHousehold";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using (Html.BeginForm("Create", "Household", FormMethod.Post, new { @class = "card", action = "", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card-body p-6">
        <div class="card-title">Create a New Household</div>
        <div class="form-group">
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Household Name" } })

        </div>

        <div class="form-footer">
            <input type="submit" value="Create" class="btn btn-primary btn-block" />
        </div>
    </div>

}
