@using BudgetDestroyer.Models
@model IEnumerable<HouseAccount>

@{
    Layout = null;
}

<div class="row row-cards row-deck">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title h3">Accounts</div>
                <button type="button" class="btn btn-outline-primary btn-sm btnSpace" data-toggle="modal" data-target="#addAccountModal">
                    <i class="fa fa-plus-circle m-right-xs"></i> Add Account
                </button>
            </div>

            <div class="table-responsive col-md-11 align-self-md-center">
                <table class="table card-table table-vcenter text-nowrap" id="accountTable">
                    <thead>
                        <tr>
                            <th class="w-1">No.</th>
                            <th>Account</th>
                            <th>Balance</th>
                            <th class="text-md-center">Reconciled<br />Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><span class="text-muted">@i</span></td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Balance
                            </td>
                            <td>
                                @item.ReconciledBalace
                            </td>
                            @*<td>
                                <span class="status-icon bg-success"></span> Paid
                            </td>
                            <td>$887</td>*@
                            <td>
                                <button type="button" class="btn btn-outline-danger btn-sm btnSpace float-right" data-toggle="modal" data-target="#deleteAccountModal">
                                    <i class="fa fa-remove m-right-xs"></i> Delete
                                </button>                                
                                <button type="button" class="btn btn-outline-primary btn-sm btnSpace float-right" data-toggle="modal" data-target="#editAccountModal">
                                    <i class="fa fa-edit m-right-xs"></i> Edit
                                </button>
                            </td>
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>*@
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
